body{
    color:rgb(118, 161, 199);
    background-image: url("img/white-background-with-brances-frame.jpg");
    background-size: 1440px;
}
.icon{
    color:aliceblue;
    font-size:25px;
}
.B2{
    background-color: rgba(103, 125, 144, 0.894);
}
.B3{
    background-color: rgba(103, 125, 144, 0.894);
}
.B4{
    background-color: rgba(103, 125, 144, 0.894);
}
