.icon{
    color:rgb(44, 73, 99);
    font-size:25px;
}
.B1{
    background-color: rgba(103, 125, 144, 0.894);
}
.B3{
    background-color: rgba(103, 125, 144, 0.894);
}
.B4{
    background-color: rgba(103, 125, 144, 0.894);
}
body{
    color:rgb(44, 73, 99);
    background-color: rgba(207, 227, 220);
}
img{
    width: 200px;
    height: 200px;
}



